/* html {font-size: 16px} */

body {
  background: #000000 !important;
  color: #E1E1E1;
  font-family: ArialMT, arial, helvetica, freesans, sans-serif !important;
  margin: 0pt 9.5pt;
  font-size: 24px;
}

a{
    color: #E1E1E1;
    text-decoration: underline;
}

a:focus {
  color: #F2F2F2;
}

.CLASS--TshowLinkInXML a, li strong+a, li strong+a+a {
  text-decoration: underline;
  color: #FFFFFF;
}

.CLASS--TshowLinkInXML strong {
  color: #E1E1E1;
}

.thead {
  background: #000000;
}

table td>sub {
  color: #9F9F9F;
}

li, li a {
  font-weight: normal;
  color: #E1E1E1;
}

.Tbu {
  display: block;
  margin: 0.2rem 0;
  color: #878787;
  font-size: 0.875rem;
  line-height: 1.293rem;
  padding-top: 0.5em;
}