/* html {font-size: 16px} */

body {
  background: #1E1E1E !important;
  color: #E1E1E1;
  font-family: ArialMT, arial, helvetica, freesans, sans-serif !important;
  margin: 0pt 9.5pt;
  font-size: 24px;
}

p, li, h2 {
  font-size: 1.125rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.8125rem;
  line-height: 1.475rem;
}

p img {
  margin-bottom: -0.5rem;
  margin-left: -5%;
  margin-top: 0.5rem;
  width: 110%;
}

.p--heading-2 {
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

h2 {
  margin: 0.125rem 0;
}

img+.Tbu+br {
  display: none;
}

a{
    color: #E1E1E1;
    text-decoration: underline;
}

a:focus {
  color: #F2F2F2;
}

.CLASS--TshowLinkInXML a, li strong+a, li strong+a+a {
  text-decoration: underline;
  color: #FFFFFF;
}

.CLASS--TshowLinkInXML strong {
  color: #E1E1E1;
}

table.Ttbl, table.Ttbl td {
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

.thead {
  background: #ededed;
}

table td>sub {
  color: #6C6C6C;
}

/* List Styles */

ul {
  padding-left: 1.5rem;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
  line-height: 1.475rem;
}

li, li a {
  font-weight: normal;
  color: #262626;
}

li::before {
  content: '»';
  color: #ec0074;
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  margin-top: -0.1rem;
}

/* Facebook embed */

.fb-post>span, .fb-post iframe {
  width: 100% !important;
}

/* Instagram embed */

iframe.instagram-media {
  margin: 0 auto !important;
  width: 98% !important;
  min-width: 0 !important;
}

.Tprocontra .Tpcauth .Tpcp b {
  font-size: 1rem !important;
}

.Tprocontra .Tpcpro {
  margin-bottom: 1rem !important;
}

.Tprocontra .Tpccontra {
  margin-left: 0!important;
}

.CLASS--Tfreitext {
  border: .1rem solid #eee;
  border-radius: 1rem;
  padding: .8rem;
  display: block;
}

.Tbu {
  display: block;
  margin: 0.2rem 0;
  color: #878787;
  font-size: 0.875rem;
  line-height: 1.293rem;
  padding-top: 0.5em;
}

.player .big-play-btn {
  background: url('https://bilder.t-online.de/b/70/38/31/54/id_70383154/tid_da/index.png') center center no-repeat !important;
  background-size: cover !important;
}

.player.html5 {
  width: 110%!important;
  margin-left: -5%;
}

.CLASS--taArticle__headline {
  color: #e20074;
  font-size: 1.5rem;
  line-height: 3rem;
}

.CLASS--taArticle__line {
  font-size: 0;
  border-bottom: 2px solid #ededed;
  display: block;
  height: 0;
  padding-top: 1rem;
}

p span.CLASS--Tarticon img {
  width: 80%;
  margin: 0;
}

/* Twitter Icon */

p a[href*="twitter"] span.CLASS--Tarticon img {
  width: 7.2rem;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

a[href*="widgets.stroeerdp.de"] {
  text-decoration: underline;
}

a[href*="widgets.stroeerdp.de"]:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 21px;
  margin-bottom: -4px;
  padding-right: 2px;
  background: #fff center 1px no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgdmlld0JveD0iMCAwIDY0IDY0Ij48cGF0aCBkPSJNNTEsNTJhNCw0LDAsMSwxLTQtNEE0LDQsMCwwLDEsNTEsNTJaTTI1LDQ4YTQsNCwwLDEsMCw0LDRBNCw0LDAsMCwwLDI1LDQ4Wk02MSwxNSw1Ni43MywzNGEyLjYyLDIuNjIsMCwwLDEtMi40NCwySDIxLjUzbDEsNi4zYS45Mi45MiwwLDAsMCwuODIuN0g1My40NWExLjUsMS41LDAsMCwxLDAsM0gyMy4zMWEzLjkxLDMuOTEsMCwwLDEtMy43OS0zLjI1bC0xLjMtOC40NmEyLjA4LDIuMDgsMCwwLDEtLjA3LS4yN2wtMS43NS0xMS42TDE0Ljc3LDExLjdhLjkyLjkyLDAsMCwwLS44Mi0uN0gzLjUxYTEuNSwxLjUsMCwwLDEsMC0zSDEzLjk0YTMuOTEsMy45MSwwLDAsMSwzLjc5LDMuMjVMMTgsMTNINTkuNDdBMS41MywxLjUzLDAsMCwxLDYxLDE1Wk0xOC40NywxNmwuNiw0SDU2LjgybC45LTRaTTI4LDIyVjMzaDlWMjJaTTM5LDMzaDlWMjJIMzlaTTI2LDMzVjIySDE5LjM4djBsMS42OCwxMVpNNTYuMzcsMjJINTBWMzNoMy44OVoiIGZpbGw9IiM2YzZjNmMiIC8+PC9zdmc+);
  background-size: 20px;
}

.exo-k8s-container~.Tbu {
  margin: 1.7rem 0 1.2rem;
}

/* iphone 5/5s */

@media screen and (device-aspect-ratio: 40/71) {
  p, li {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

@media (max-width:337px) {
  .toiafl-container {
    font-size: 10px;
  }
}

@media (min-width:338px) {
  .toiafl-container {
    font-size: 11.25px;
  }
}

@media (min-width:378px) {
  .toiafl-container {
    font-size: 12.5px;
  }
}

@media (min-width:458px) {
  .toiafl-container {
    font-size: 15px;
  }
}

@media (min-width:548px) {
  .toiafl-container {
    font-size: 17.75px;
  }
}

.ipad-article-margin body {
  margin: 0 auto;
  width: 79.16%;
}

.ipad-article-margin ul {
  position: relative;
}

.ipad-article-margin li:before {
  left: 0;
}

.gallery-embedd {
  border-top: 0.1rem solid #878787;
  border-bottom: 0.1rem solid #878787;
  /*border-style: solid;*/
  /*border-color: grey;*/
}

.gallery-embedd h5 {
  margin-top: 8px;
  margin-bottom: 3px;
  margin-left: 10px;
  font-size: 1rem;
}

.gallery-embedd h5 a {
  color: #262626;
  text-decoration: none;
}

.gallery-embedd p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  color: #878787;
  font-size: 0.875rem;
}

.gallery-row {
  content: "";
  clear: both;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 1200px) {
  .gallery-cell {
    display: inline-block;
    width: 22.5%;
    padding: 2px;
  }
}

@media (max-width: 1199px) {
  .gallery-cell {
    display: inline-block;
    width: 32%;
    padding: 3px;
  }
  .tablet-landscape-only {
    display: none;
  }
}

@media (max-width: 839px) {
  .gallery-cell {
    display: inline-block;
    width: 45%;
    padding: 5px;
  }
  .tablet-landscape-only {
    display: none;
  }
  .phone-landscape-tablet-portrait-only {
    display: none;
  }
}